.flex-container{
    display: flex;
justify-content: space-between;
    background-color: yellowgreen;
  
}
.flex-container > div{
    margin: 15px;
    padding: 10px;
    background-color: yellow;

}
