ul{
   
 list-style-type: square;

  
}
div{
    border: 2px solid black;
    height: 50px;
overflow:auto;
    width: 200px;
}
ul li::marker{
    color:blue;
    font-size: 35px;
}
ul li{
    list-style-position: outside;
    background-color: yellow;
    margin-bottom: 5px;
    width: 200px;
}