/*p{
    direction: rtl;
    unicode-bidi: bidi-override;
}*/
a{
    text-decoration: none;
}
#p-1{
    text-decoration: dashed underline;
}
#p-2{
    text-decoration: underline overline;
}
#p-3{
    text-decoration: line-through;
}