body{
    background-image: url(./image/darwin.png);
}
h1{
    color: aliceblue;
    text-align: center;
}
h2{
    color: aliceblue;
    text-align: center;
    
}
p{
    border: 2px solid white;
    width: 200px;
  
}